* {
    box-sizing: border-box; /* include padding, border, margin in sizing */
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
}

header {
    display: flex; /* to align items */
    align-items: center; /* vertical centering */
    max-height: 100px;
    background-color: #71f5ec;
    padding: 30px;
}

.title {
    margin: 0px auto; /* vertical and horizontal centering */
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    color:white;
    text-shadow:
    -4px -4px 0 #000,
    1px -4px 0 #000,
    -4px 1px 0 #000,
    1px 1px 0 #000;  
}

header .title {
    font-size: 50px;
    text-shadow:
    -5px -5px 0 #000,
    1px -5px 0 #000,
    -5px 1px 0 #000,
    1px 1px 0 #000;  
}

section {
    display: flex;
}

nav {
    flex-direction: column;
    flex: 1;
    background-color: #71f5ec;
}

article {
    flex: 6;
    background-color: #71f5ec;
}

aside {
    flex: 1;
    background-color: #71f5ec;
}

footer {
    display: flex;
    align-items: center;
    height: 75px;
    background-color: lightgray;
}

.calendar {
    height: 650px;
    background-color: white;
    border: solid #000;
    border-width: 1px 7px 7px 1px;
}

ul {
    list-style-type: none;
    background-color: inherit;
    padding: 0;
}

ul .title {
    font-size: 25px;
    color: white;
    text-shadow:
    -3px -3px 0 #000,
    1px -3px 0 #000,
    -3px 1px 0 #000,
    1px 1px 0 #000;  
}

.weekdays .title {
    font-size: 35px;
}

.weekdays li {
    background-color: #71f5ec;
    display: inline-block;
    text-transform: uppercase;
    width: 13.6%;
    text-align: center;
}

.days .title {
    font-size: 35px;
}

.days li {
    display: inline-block;
    width: 13.6%;
    text-align: left;
    background-color: lightgray;
    height: 180px;
    padding: 15px;
    margin: 5px auto;
}

button {
    background-color: white;
    border: solid #000;
    border-width: 1px 5px 5px 1px;
    width: 75%;
    height: 75px;
    font-size: 20px;
    text-align: center;
}

.events button {
    height: 150px;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}